body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    text-align: justify;
    color: rgb(14, 135, 14);
    margin-inline-start: auto;
}
h1 {
  color:rgb(11, 71, 11)
}
h2 {
  color: rgb(11,71,11)
}
h3{
    color: rgb(14, 135, 14)
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.example {
  text-align: start;
  border: solid;
}